.navItemList {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    column-gap: 2rem;
    padding-inline: 8rem;
    align-items: center;
}

.toolbar {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .navItemList{
        padding-inline: 0;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    
    .navItemList {
        display: none;
    }
}