.button{
    display: flex;
    justify-content: center;
    width: 100%;

    padding: .5rem 1rem;
    border-radius: .25rem;

    font-weight: bold;

    appearance: none;

    border: none;
    cursor: pointer;
}

.green{
    background-color: var(--verde-400);
    color: #fff;
}