.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 80px;
    border: 1px solid red;
    padding: 10px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid blue;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.spanFirst{
    color: #6B6B6B;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.spanSecond{
    color: #019340;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    border: 1px solid green;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.groupForm{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.label{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input{
    display: flex;
    width: 363px;
    height: 59px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #E5E5E5;
}