.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5rem;
    padding: 0.625rem;
}

.leftSide{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.spanFirst{
    color: var(--cinza-escuro);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.spanSecond{
    color: var(--verde-400);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0625rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.375rem;
}

.groupForm{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4375rem;
}

/* .label{
    color: var(--preto);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

/* .input{
    display: flex;
    width: 22.6875rem;
    height: 3.6875rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: var(--cinza-claro);
} */